@model Matricula
@{
    ViewBag.Title = "Nueva Matricula";

    List<Seccion> secciones = ViewBag.Secciones;
    List<Alumno> alumnos = ViewBag.Alumnos;

    alumnos.ForEach(x => x.Nombre = $"{x.Apellido}, {x.Nombre}");
    secciones.ForEach(x => x.Descripcion = $"[{x.Curso.Credito}] {x.Curso.Descripcion} - {x.Descripcion}");

    var selectAlumnoId = new SelectList(alumnos, "Id", "Nombre");
    var selectSeccionId = new SelectList(secciones, "Id", "Descripcion");

}

<h2>Nueva Matricula</h2>

<div class="row">

    <div class="col-sm-6 col-xs-12">
        <label class="control-label">Alumno:</label>
        @Html.DropDownListFor(m => m.AlumnoId, selectAlumnoId, new { @class = "form-control" })
    </div>

    <div class="col-sm-6 col-xs-12">
        <label class="control-label">Curso:</label>
        @Html.DropDownListFor(m => m.SeccionId, selectSeccionId, new { @class = "form-control" })
    </div>

    <div class="col-sm-12 col-xs-12">
        <label class="control-label">Tipo de Matricula:</label>
        @Html.EnumDropDownListFor(m => m.Tipo, new { @class = "form-control" })
    </div>
    <div class="col-sm-12 col-xs-12" id="mensajes"></div>
</div>

<hr />

<div class="row">
    <div class="col-md-12 text-center">
        <button type="button" class="btn btn-success" id="btnGuardar">Guardar</button>
        <a href="/Matricula/Index" class="btn btn-danger">Cancelar</a>
    </div>
</div>




@section scripts {

    <script>
        var nuevo = {
            ObtenerModelo: () => {
                var model = {
                    'tipo': $('#Tipo').val(),
                    'alumnoId': $('#AlumnoId').val(),
                    'seccionId': $('#SeccionId').val(),
                }

                $.each($('#tblCursos tbody tr'), function (i, tr) {
                    model[`secciones[${i}]`] = tr.dataset.seccionid
                })

                return model
            }
        }

        $(function () {
            $('#btnAgregarCurso').click(function () {
                var seccionId = $('#Seccion').val()
                var cursoId = $('#Seccion option:selected').data('cursoid')
                var seccion = $('#Seccion option:selected').text()

                if ($(`#tblCursos tbody tr[data-cursoid="${cursoId}"]`).length > 0) {
                    alert('Ya tiene el curso asignado.')
                    return
                }

                var tr = `<tr data-seccionid="${seccionId}" data-cursoid="${cursoId}">
                                    <td class="text-center">
                                        <a href="javascript:void(0)" class="text-danger eliminar">Quitar</a>
                                    </td>
                                    <td>${seccion}</td>
                            </tr>`

                $('#tblCursos tbody').append(tr)
            })

            $('#tblCursos tbody').delegate('a.eliminar', 'click', function () {
                $(this).parents().eq(1).remove()
            })

            $('#btnGuardar').click(function () {
                if (confirm('¿Esta seguro de guardar el registro?')) {
                    var model = nuevo.ObtenerModelo()

                    $.ajax({
                        type: 'POST',
                        url: '/Matricula/Nuevo',
                        data: model,
                        beforeSend: () => {
                            $('#btnGuardar').attr('disabled', 'disabled')
                            $('#mensajes').html('')
                        },
                        complete: () => {
                            $('#btnGuardar').removeAttr('disabled')
                        },
                        success: ({ mensaje }) => {
                            alert(mensaje)
                            location.href = "/Matricula/Index";
                        },
                        error: (data) => {
                            $('#mensajes').html(data.responseText)
                        }
                    })
                }
            })
        })
    </script>
}
